.view-frame.ng-enter,
.view-frame.ng-leave {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.view-frame.ng-enter {
    -webkit-animation: 0.5s fade-in;
    -moz-animation: 0.5s fade-in;
    -o-animation: 0.5s fade-in;
    animation: 0.5s fade-in;
    z-index: 100;
}

.view-frame.ng-leave {
    -webkit-animation: 0.5s fade-out;
    -moz-animation: 0.5s fade-out;
    -o-animation: 0.5s fade-out;
    animation: 0.5s fade-out;
    z-index: 99;
}

.phone-list-listing.ng-enter,
.phone-list-listing.ng-leave,
.phone-list-listing.ng-move {
    -webkit-transition: 0.3s linear all;
    -moz-transition: 0.3s linear all;
    -o-transition: 0.3s linear all;
    transition: 0.3s linear all;
}

.phone-list-listing.ng-enter,
.phone-list-listing.ng-move {
    opacity: 0;
    height: 0;
}

.phone-list-listing.ng-enter.ng-enter-active,
.phone-list-listing.ng-move.ng-move-active {
    opacity: 1;
    height: 80px;
}

.phone-list-listing.ng-leave {
    opacity: 1;
    height: 80px;
}

.phone-list-listing.ng-leave.ng-leave-active {
    opacity: 0;
    height: 0;
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@-moz-keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@-webkit-keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
