.view-container {
    position: relative;
}

.phone-list-sidebar {
    margin: 0 0 20px;
}

.phone-list-list {
    margin: 30px 0 0;
}

.phone-list-list .img-thumbnail {
    margin: 0 20px 0 0;
    width: 80px;
    height: 80px;
}

.phone-detail-detail dl {
    margin: 0;
}

.phone-detail-main-images {
    overflow: hidden;
    position: relative;
    width: 300px;
    height: 300px;
}

.phone-detail-main-images > img {
    width: 300px;
    height: 300px;
}
