<!doctype html>

<html lang="en" ng-app="erNiuNiu" ng-controller="PhoneListCtrl">
<head>
    <meta charset="UTF-8">
    <title ng-bind-template="erNiuNiu: {{ query }}">erNiuNiu</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link rel="icon" href="favicon.ico">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>Controls</h3>
                <form>
                    <div class="form-group">
                        <label for="search">Search</label>
                        <input type="text" id="search" class="form-control" placeholder="Keywords" ng-model="query">
                    </div>
                    <div class="form-group">
                        <label for="sort">Sort</label>
                        <select id="sort" class="form-control" ng-model="order">
                            <option value="name">Alphabetically</option>
                            <option value="age">Newest first</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-md-8 col-md-offset-1">
                <ul class="list-unstyled">
                    <li ng-repeat="phone in phones | filter:query | orderBy:order">
                        <h3>{{ phone.name }}</h3>
                        <p>{{ phone.description }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/controllers.js"></script>
</body>
</html>
