<!doctype html>

<html lang="en" ng-app="erNiuNiu" ng-controller="PhoneListCtrl">
<head>
    <meta charset="UTF-8">
    <title ng-bind-template="erNiuNiu: {{ query }}">erNiuNiu</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                Search: <input ng-model="query">
            </div>
            <div class="col-md-10">
                <ul class="list-unstyled">
                    <li ng-repeat="phone in phones | filter:query">
                        <h3>{{ phone.name }}</h3>
                        <p>{{ phone.description }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/controllers.js"></script>
</body>
</html>
